langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-core
pydantic
langchain-text-splitters
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
unstructured[excel]
msoffcrypto-tool
jq
matplotlib

##Embeddings
langchain-huggingface
sentence-transformers

##llms
langchain-perplexity
